export(estim_ncpFAMD,estim_ncpPCA,estim_ncpMCA,estim_ncpMultilevel,imputeCA,imputeFAMD,imputeMCA,imputeMFA,imputeMultilevel,imputePCA,irlba.triplet,MIMCA,MIFAMD,MIPCA,Overimpute,prelim,plot.MIPCA,plot.MIMCA,plot.MIFAMD)
import(doParallel)
import(foreach)
import(parallel)
importFrom(FactoMineR,PCA,MCA,svd.triplet,coord.ellipse,reconst,tab.disjonctif,tab.disjonctif.prop,plot.PCA)
importFrom(ggplot2,aes,element_blank,element_line,element_rect,element_text,geom_point,guides,guide_colourbar,guide_legend,rel,scale_colour_manual,scale_colour_gradientn,scale_colour_gradient2,scale_fill_gradientn,scale_fill_gradient2,scale_fill_manual,theme,theme_minimal)
importFrom(graphics,plot,points,abline,segments,legend,par,mtext)
importFrom(grDevices,dev.new,heat.colors)
importFrom(irlba,irlba)
importFrom(mice,as.mids)
importFrom(mvtnorm,rmvnorm)
importFrom(stats,var,sd,rnorm,quantile,aggregate)
importFrom(utils,txtProgressBar,setTxtProgressBar)
importFrom(sysfonts,font_families,font_add_google)
importFrom(showtext,showtext_auto)


S3method(plot, MIPCA)
S3method(plot, MIMCA)
